In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bike-sharing-demand/sampleSubmission.csv
/kaggle/input/bike-sharing-demand/train.csv
/kaggle/input/bike-sharing-demand/test.csv

# Introductory Summary

1. Rank : 1,348th / 3,242 (Late submission)

2. Feature Engineering of DateTime Variables

3. Model : Random Forest

In [2]:
train = pd.read_csv('/kaggle/input/bike-sharing-demand/train.csv')
test = pd.read_csv('/kaggle/input/bike-sharing-demand/test.csv')

In [3]:
train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [4]:
test

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014
...,...,...,...,...,...,...,...,...,...
6488,2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014
6489,2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014
6490,2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014
6491,2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981
6492,2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981

In [5]:
alldata = pd.concat([train,test])

alldata['datetime'] = pd.to_datetime(alldata['datetime'])
alldata['Year'] = alldata['datetime'].dt.year
alldata['Month'] = alldata['datetime'].dt.month
alldata['Day'] = alldata['datetime'].dt.day
alldata['Time'] = alldata['datetime'].dt.hour

alldata = alldata.drop(columns = ['datetime','casual','registered','count'])
train2 = alldata[:len(train)]
test2 = alldata[len(train):]

In [6]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_jobs = 4)
rf.fit(train2,train['count'])
result = rf.predict(test2)

In [7]:
sub = pd.read_csv('/kaggle/input/bike-sharing-demand/sampleSubmission.csv')
sub['count'] = result

sub.to_csv('sub.csv', index = 0)
sub

                 datetime   count
0     2011-01-20 00:00:00   12.68
1     2011-01-20 01:00:00    6.07
2     2011-01-20 02:00:00    6.11
3     2011-01-20 03:00:00    3.84
4     2011-01-20 04:00:00    3.11
...                   ...     ...
6488  2012-12-31 19:00:00  303.96
6489  2012-12-31 20:00:00  198.64
6490  2012-12-31 21:00:00  144.94
6491  2012-12-31 22:00:00  118.04
6492  2012-12-31 23:00:00   73.87

[6493 rows x 2 columns]

In [8]:
# train = pd.read_csv('/kaggle/input/bike-sharing-demand/train.csv')
# test = pd.read_csv('/kaggle/input/bike-sharing-demand/test.csv')

# alldata = pd.concat([train,test])

# alldata['datetime'] = pd.to_datetime(alldata['datetime'])
# alldata['Year'] = alldata['datetime'].dt.year
# alldata['Month'] = alldata['datetime'].dt.month
# alldata['Day'] = alldata['datetime'].dt.day
# alldata['Time'] = alldata['datetime'].dt.hour

# alldata = alldata.drop(columns = ['datetime','casual','registered','count'])
# train2 = alldata[:len(train)]
# test2 = alldata[len(train):]

# from sklearn.ensemble import RandomForestRegressor
# rf = RandomForestRegressor(n_jobs = 4)
# rf.fit(train2,train['count'])
# result = rf.predict(test2)

# sub = pd.read_csv('/kaggle/input/bike-sharing-demand/sampleSubmission.csv')
# sub['count'] = result

# sub.to_csv('sub.csv', index = 0)
# sub

In [9]:
pd.Series(rf.feature_importances_)

0     0.006829
1     0.002652
2     0.072584
3     0.015003
4     0.075314
5     0.031333
6     0.030447
7     0.008812
8     0.087094
9     0.047285
10    0.012305
11    0.610341
dtype: float64

In [10]:
# Time feature 값별로 중요도 평가
# 위의 alldata와 다르기때문에 다시 생성해주어야 한다
alldata2 = pd.concat([train,test])
alldata2['datetime'] = pd.to_datetime(alldata2['datetime'])
alldata2['Time'] = alldata2['datetime'].dt.hour

alldata2.groupby('Time')['count'].mean()

Time
0      55.138462
1      33.859031
2      22.899554
3      11.757506
4       6.407240
5      19.767699
6      76.259341
7     213.116484
8     362.769231
9     221.780220
10    175.092308
11    210.674725
12    256.508772
13    257.787281
14    243.442982
15    254.298246
16    316.372807
17    468.765351
18    430.859649
19    315.278509
20    228.517544
21    173.370614
22    133.576754
23     89.508772
Name: count, dtype: float64